.lc-btn {
  border-color: blue;
  color: blue;
}

.lc-btn-collapse {
  border-color: red;
  color: red
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42A948;
  /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
  /* red */
}

.select-dropdown {
  position: relative;
}

.select-dropdown .form-control {
  text-align: left;
}

form {
  width: 710px;
}

.scrollable-content {
  overflow-y: auto;
  overflow-x: hidden;
}
