<ul class="list-group">
  <li class="list-group-item"><button class="btn btn-default" (click)="createAnalyticalMethod()"><i class="fa fa-plus-circle"></i> Create a new method </button></li>
  <div class="scrollable-content" [style.height.px]="height">
      <li class="list-group-item" *ngFor="let method of analyticalMethods">
        <button class="btn" (click)="editAnalyticalMethod(method)">{{method}}</button>
        <button class="btn btn default pull-right" (click)="removeMethod(method)"><i class="fa fa-trash"></i></button>
      </li>
  </div>
</ul>
